{% extends 'base.html.twig' %}

{% block body %}
<script>
    var lang = '{{app.session.get('LANG')}}';
</script>
<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{product.getAnh1()}});">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({{product.getAnh2()}});">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url({{product.getAnh3()}});">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url({{product.getAnh4()}});">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="{{product.getAnh1()}}">
                                    <img class="d-block w-100" src="{{product.getAnh1()}}" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="{{product.getAnh2()}}">
                                    <img class="d-block w-100" src="{{product.getAnh2()}}" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="{{product.getAnh3()}}">
                                    <img class="d-block w-100" src="{{product.getAnh3()}}" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="{{product.getAnh4()}}">
                                    <img class="d-block w-100" src="{{product.getAnh4()}}" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">{{product.getGiaBan() | number_format(0, ',' ,'.')}} VNĐ</p>
                        <a href="product-details.html">
                            <h6>{{app.session.get('LANG') == 'kr'? product.getTenKr() : product.getTen()}}</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#"> <i class="fa fa-eye" aria-hidden="true"></i> {{product.getLuotXem()}} {{app.session.get('LANG') == 'kr'? '연극':'lượt xem'}} </a>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> {{app.session.get('LANG') == 'kr'? '유효한' : 'Còn hàng'}} </p>
                    </div>

                    <div class="short_overview my-5">
                        {{(app.session.get('LANG') == 'kr' ? product.getMieuTaKr(): product.getMieuTa()) | raw}}
                    </div>

                    <!-- Add to Cart Form -->
                    <div class="cart clearfix" method="post">
                        <div class="cart-btn d-flex mb-50">
                            <p>{{app.session.get('LANG') == 'kr'? '수량' : 'Số lượng'}}</p>
                            <div class="quantity">
                                <span class="qty-minus"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1" readonly>
                                <span class="qty-plus"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <button id="add_cart" data-product="{{product.getId()}}" name="addtocart" value="5" class="btn amado-btn">{{app.session.get('LANG') == 'kr'? '장바구니에 담기' : 'Thêm vào giỏ hàng'}} </button>
                    </div>

                </div>
            </div>
            <div class="col-12 mt-50">
                {{(app.session.get('LANG') == 'kr' ? product.getNoiDungKr(): product.getNoiDung()) | raw}}
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
<script src="/js/detail-product.js"></script>
{% endblock %}